body{margin: 0;padding: 0;background-color: #e6f7ff;}
        .header{
            height: 20vh;
        }

        .header-div{
            position: relative;
            width: 30px;
            height: 30px;
            background-color: #bae7ff;
            animation-name: rotate;
            animation-duration: 3s;
            animation-timing-function: linear;    /* 匀速执行*/
            animation-fill-mode: forwards;
            animation-delay: 10s;
            top: -20px;
            left: -50px;
            border-radius: 30px;
        }

        @keyframes rotate {
            0% {opacity: 0;transform: rotate(-90deg);width: 30px;height: 30px;border-radius: 30px;top: 20px;left: 50px;}
            50%{width: 60px;height: 60px;border-radius: 60px;}
            100% {opacity: 1;transform: rotate(90deg);width: 30px;height: 30px;border-radius: 30px;top: 20px;left: 50px;}
        }
        .main{
            height: 60vh;
        }
        
        .retate {
            position: relative;
            width: 300px;
            font-size: 24px;
            text-align: center;
            background-color: #91d5ff;
            color: #fff;
            top: -250px;
            animation-name: xuanzhuan;
            animation-duration: 1s;
            animation-timing-function: linear;      /* 匀速执行*/
            animation-delay: 15s;
            animation-fill-mode: forwards;
        }

        @keyframes xuanzhuan{
            0%{transform: rotateZ(0deg);left: 1200px;top: 700px;}
            100%{transform: rotateZ(360deg);top: 0;left: 0;}
        }

        .div1 {
            width: 300px;
            height: 50px;
            background-color: #91d5ff;
            margin: 0 auto;
            margin-top: -500px;
            animation-name: xiaoshi;
            animation-duration: 10s;
            animation-timing-function: linear;

        }
        @keyframes xiaoshi{
            0%{margin-top: 200px;}
            100%{margin-top: -500px;}
        }

        .div1 p {
            margin: 0;
            float: left;
            font-size: 20px;
            margin-left: 10px;
            margin-top: 10px;
            animation-name: hoptext;
            animation-duration: 2s;
            /*animation-iteration-count: infinite; */     /* 重复执行*/
            animation-timing-function: ease;       /* 动画由慢到快最后再慢*/
            animation-direction: alternate;         /* 先正着来一遍在反着来一遍*/   
            /* animation-delay: 3s; */
        }

        .s1 {animation-delay: 0.2s;}
        .s2 {animation-delay: 0.4s;}
        .s3 {animation-delay: 0.6s;}
        .s4 {animation-delay: 0.8s;}
        .s5 {animation-delay: 1s;}
        .s6 {animation-delay: 1.2s;}
        .s7 {animation-delay: 1.4s;}
        .s8 {animation-delay: 1.6s;}
        .s9 {animation-delay: 1.8s;}
        .s10 {animation-delay: 2.0s;}

        @keyframes hoptext {
            0%{padding-bottom: 0;}
            50% {transform: translateY(-100px);}
            100% {padding-bottom: 0;}
        }
        .footer{
            height: 20vh;
        }

        .box{
            animation-name: donghua;
            animation-duration: 3s;/*动画时间*/
            position: absolute;
            animation-fill-mode: forwards;    /*不出来*/
        }
        @keyframes donghua {
            0% {opacity: 1;transform: translateY(0);}	
	        100% {opacity: 1;transform: translateY(-900px);}
        }
        .disappear{
            display: none;
        }
